.app-wrapper {
  min-height: 100vh;
  transition: background 0.3s, color 0.3s;
}
.app-dark  { background: #0a0a0a; color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  background: #0a0a0a;;
  font-family: sans-serif;
  overflow-x: hidden;
}